DATABASE_URL="file:./dev.db"
JWT_SECRET="super-secret-jwt-key-change-this-in-production-min-32-chars-long"
STORAGE_DIR="./storage/uploads"
NODE_ENV="development"

DEFAULT_SEED_PASSWORD="Password123!"

ADMIN_EMAIL="admin@college.local"
ADMIN_PASSWORD="Password123!"

MAINTENANCE_STAFF_EMAIL="maintenance@college.local"
MAINTENANCE_STAFF_PASSWORD="Password123!"

ACADEMIC_STAFF_EMAIL="academic@college.local"
ACADEMIC_STAFF_PASSWORD="Password123!"

HOSTEL_STAFF_EMAIL="hostel@college.local"
HOSTEL_STAFF_PASSWORD="Password123!"

STUDENT1_EMAIL="student1@college.local"
STUDENT1_PASSWORD="Password123!"

STUDENT2_EMAIL="student2@college.local"
STUDENT2_PASSWORD="Password123!"
